.root{
	-fx-background-color: linear-gradient(to left, #4AF, #169);
}

#primaryLabel, #secondaryLabel{
	-fx-font-size: 20px;
	-fx-text-fill: #FFF;
}

#labeldropFilesHere{
	-fx-font-size: 20px;
	-fx-text-fill: #555;
}

#dragOverComponent{
	-fx-background-color: #DEF;
}

